main{
    background-image: url(../img/sky-space.gif);

    display: flex;
    flex-direction: column;
    
    color: white;
    background-color: black;
    width: 100%;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40vh;

    font-size: 10rem;
    color: white;
    text-shadow: black 4px 4px;
    font-family: 'VT323', monospace;
}

.back{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 56.77%, #000000 100%, #000000 100%), url(../img/463f.gif) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

.sobre{
    background: linear-gradient(181.28deg, #000000 1.1%, rgba(131, 131, 131, 0) 98.92%);

    display: flex;
    flex-direction: column;

    align-items: center;

    font-family: 'VT323', monospace;
    font-size: 2rem;
    text-shadow: black 4px 4px;
    padding-top: 20vh;
}

.people-container{
    display: flex;
    justify-content: space-around;

    padding-top: 5vh;
}

.people{
    height: 600px;
}

.text{
    width: 25%;
}